.wrapper-container {
  display: flex; }

body,
html {
  padding: 0; }

.wrapper {
  width: 1110px;
  margin: auto; }

header {
  background: white;
  margin: 0; }

.logo {
  font-size: 2.4rem;
  text-align: center;
  background: -webkit-linear-gradient(#ff893a, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
  padding: 10px;
  font-family: "Josefin Sans", sans-serif; }

.logo-el-2 {
  color: #3586ff; }

.product-box .card {
  margin-top: 10px; }

.product-box h5 {
  font-size: 1rem; }

.white-content {
  padding: 1px 20px 20px 20px;
  background-color: white;
  opacity: 0.9; }

h1,
h2 {
  margin: 0;
  font-size: 1.5rem;
  margin: 15px;
  margin-left: 0px;
  font-family: "Josefin Sans", sans-serif; }

nav a {
  font-family: "Inconsolata", monospace;
  font-size: 1.1rem;
  color: black;
  margin-right: 20px;
  /*
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    */ }

.nav-bar {
  padding: 0; }

.navbar-nav {
  width: 100%;
  text-align: center; }

.navbar-nav > li {
  float: none;
  display: inline-block; }

nav {
  /* border-top: 2px solid rgb(34, 156, 255);
     border-bottom: 4px solid rgb(34, 93, 255);*/ }

nav a:hover {
  /* border-bottom: 2px solid rgb(0, 162, 255);*/ }

.navbar-dark .navbar-nav .nav-link {
  color: white;
  opacity: 0.7; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  opacity: 1; }

.card-container {
  padding: 60px; }

a.btn {
  /* font-family: 'Inconsolata', monospace;*/
  font-size: 0.9rem; }

body {
  /* background: rgb(234, 241, 255);
    background: url("https://www.mellowboards.com/out/pictures/zmbwysiwygeditor/Blog-Posts/mellow-electric-skateboard-what-is-an-electric-skateboard-2.jpg");
    background-position: center;*/
  background: #eaf1ff;
  background-size: 2000px;
  background-repeat: no-repeat; }

.logo span {
  margin: 0; }

.wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px; }

.bg-blue {
  background-color: #000e20;
  border-top: 4px solid #0099ff; }

footer {
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  color: #d4d4d4;
  opacity: 0.9; }
